
.stock {
    display: flex;
    flex-direction: column;    
  
    width: 250px;
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 8px;
  }
  
  /* Styles for the header section */
  .header {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
  }

  /* Heading styles */
h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
  }
  
  h4 {
    margin: 0;
    font-size: 16px;
    color: #666;
  }

  h4.price {
    color: #00a65a;
  }
  
  h4.change {
    color: #ff0000;
  }

  .aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    margin-top: 0px;
}

.aboutTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.aboutDescription {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    width: 200vmin;
} 

